go/cmd/gongdoc/__debug_bin
go/cmd/gongdoc/gongdoc
go/controllers/gongdocapi.yml
go/.DS_Store
.DS_Store
go/cmd/gongdoc/__debug_bin.exe
go/tests/geometry/go/cmd/geometry/__debug_bin
go/tests/geometry/go/cmd/geometry/geometry.exe
go/cmd/gongdoc/test.db
*.exe
go/cmd/gongdoc/__debug_*
go/cmd/gongdoc/gongdoc.db
